body {
    background-color: darkslategray;
}

h1{
    color:ghostwhite;
}
h2{
    color:ghostwhite;
    padding-left: 5%;
}

h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color:ghostwhite;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0;    
    letter-spacing: 3px;
    padding-left: 10%;
    background: aqua;

}

a{
    color: #CC7722;
    text-decoration: none;
    padding: 1em 0;
    display: block;
}